config controller 'http'
        option url 'http://172.16.40.113:10002'
        option verify_ssl '0'
        list unmanaged 'system.@led'
        list unmanaged 'network.loopback'
        list unmanaged 'network.@switch'
        list unmanaged 'network.@switch_vlan'
        option uuid '6d75d7941afa4f6b8b359243a7b891e7'
        option key 'f8a61981a637a6da916efdec08958c4d'