asgiref==1.1.2
asn1crypto==0.24.0
attrs==18.2.0
autobahn==18.11.1
Automat==0.7.0
certifi==2018.10.15
cffi==1.11.5
channels==1.1.8
chardet==3.0.4
constantly==15.1.0
coverage==4.5.1
coveralls==1.3.0
cryptography==2.3.1
daphne==1.4.2
defusedxml==0.5.0
Django==2.0.9
django-allauth==0.36.0
django-choices==1.6.0
django-extensions==2.1.3
django-leaflet==0.23.0
django-loci==0.2.1
django-model-utils==3.1.2
django-netjsonconfig==0.8.1
django-organizations==1.1.1
django-picklefield==1.0.0
django-prettyjson==0.3.0
django-reversion==2.0.13
django-sortedm2m==1.5.0
django-taggit==0.22.2
django-widget-tweaks==1.4.1
django-x509==0.4.1
djangorestframework==3.7.7
djangorestframework-gis==0.12
docopt==0.6.2
flake8==3.5.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
isort==4.3.4
Jinja2==2.10
jsonfield==2.0.2
jsonschema==2.6.0
MarkupSafe==1.1.0
mccabe==0.6.1
netjsonconfig==0.6.3
oauthlib==2.1.0
-e git+git@github.com:JoaoFelipeFarias/openwisp-controller.git@92d39aadac6d17041d93ac74afeb657720a9f1d0#egg=openwisp_controller
openwisp-users==0.1.8
openwisp-utils==0.2.1
pexpect==4.4.0
Pillow==5.3.0
pipenv==2018.10.13
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python3-openid==3.1.0
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
service-identity==17.0.0
six==1.11.0
standardjson==0.3.1
Twisted==18.9.0
txaio==18.8.1
typing==3.6.4
urllib3==1.24.1
uWSGI==2.0.17
virtualenv==16.1.0
virtualenv-clone==0.4.0
zope.interface==4.6.0
