<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Page</title>

    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<body>

<table class="table table-bordered" style="max-width:800px;">
        <tr>
            <th>Device Name</th>
            <th>Mac Address</th>
            <th>Last IP</th>
            <th>Coova admin</th>
            <th>Last update</th>
        </tr>

        {% for item in data %}
        <tr>
            <td> {{ item.openwisp_device.name }} </td>
            <td> {{ item.openwisp_device.mac_address }} </td>
            <td> {{ item.openwisp_device.last_ip }} </td>
            <td> {{ item.is_coova }} </td>
            <td> {{ item.openwisp_device.modified }} </td>
        </tr>
        {% endfor %}

     <tr>

</table>


<table class="table table-bordered" style="max-width:800px;">
        <tr>
            <th>User Name</th>
            <th>Mac Address</th>
            <th>User IP</th>
            <th>Connection Status</th>
            <th>Connection Time (sec) / Maximum Connection Time (sec)</th>
            <th>Input Octets / Max Input Octets</th>
            <th>Output Octets / Max Output Octets</th>
            <th>Max Total Octets</th>
        </tr>
        {% for item in data %}
        <tr>
            <td> Jf20 </td>
            <td> 00-56-CD-32-AF-F9 </td>
            <td> 192.168.180.2 </td>
            <td> pass </td>
            <td> 435 / 14460 </td>
            <td> 3710312 / 0 </td>
            <td> 6301216 / 0 </td>
            <td> 0 </td>
        </tr>
        {% endfor %}


     <tr>

</table>






</body>
</html>

<!--

-->
